REGION="INSERT REGION"
BUCKET="INSERT BUCKET"
SQS1="INSERT SQS 1"
SQS1LAMBDA="INSERT LAMBDA FUNCTION NAME"
# to find the lambda uuid, go to the lambda in the aws console > configuration > triggers > expand the sqs trigger details
SQS1LAMBDA_UUID="INSERT LAMBDA UUID"
SQS2="INSERT SQS 2"
SQS2LAMBDA="INSERT LAMBDA FUNCTION NAME"
SQS2LAMBDA_UUID="INSERT LAMBDA UUID"

LAMBDALIST="
INSERT LAMBDA 1 FUNCTION NAME
INSERT LAMBDA 2 FUNCTION NAME
...
"